In [6]:
# Sample list of results options
word_database = ['Philadelphia Eagles', 'Penn State Nittany Lions', 'Baltimore Ravens', 'St. Louis Cardinals']

# Make lowercase
word_database = [x.lower() for x in word_database]

print(word_database)

['philadelphia eagles', 'penn state nittany lions', 'baltimore ravens', 'st. louis cardinals']

In [89]:
sample_search = 'Philly Eagles Lets Go Birds go get em fly eagles fly'

sample_search = sample_search.lower()

print(sample_search)

philly eagles lets go birds go get em fly eagles fly

In [104]:
word_dict = dict()

for i in range(len(word_database)):
    print('Word ', i)
    
    word_scores = list()
    
    for n in range(len(sample_search)):
        print('Letter ', n)
        try:
            if sample_search[n] == word_database[i][n]:
                word_scores.append(1)
                
            elif sample_search[n] == word_database[i][n-1] or sample_search[n] == word_database[i][n+1]:
                word_scores.append(.5)
                
            else:
                word_scores.append(0)
        except:
            word_scores.append(None)
            continue
            
    word_dict[i] = word_scores
            
print(word_dict)

Word  0
Letter  0
Letter  1
Letter  2
Letter  3
Letter  4
Letter  5
Letter  6
Letter  7
Letter  8
Letter  9
Letter  10
Letter  11
Letter  12
Letter  13
Letter  14
Letter  15
Letter  16
Letter  17
Letter  18
Letter  19
Letter  20
Letter  21
Letter  22
Letter  23
Letter  24
Letter  25
Letter  26
Letter  27
Letter  28
Letter  29
Letter  30
Letter  31
Letter  32
Letter  33
Letter  34
Letter  35
Letter  36
Letter  37
Letter  38
Letter  39
Letter  40
Letter  41
Letter  42
Letter  43
Letter  44
Letter  45
Letter  46
Letter  47
Letter  48
Letter  49
Letter  50
Letter  51
Word  1
Letter  0
Letter  1
Letter  2
Letter  3
Letter  4
Letter  5
Letter  6
Letter  7
Letter  8
Letter  9
Letter  10
Letter  11
Letter  12
Letter  13
Letter  14
Letter  15
Letter  16
Letter  17
Letter  18
Letter  19
Letter  20
Letter  21
Letter  22
Letter  23
Letter  24
Letter  25
Letter  26
Letter  27
Letter  28
Letter  29
Letter  30
Letter  31
Letter  32
Letter  33
Letter  34
Letter  35
Letter  36
Letter  37
Letter  38
Letter  39
Letter  40
Letter  41
Letter  42
Letter  43
Letter  44
Letter  45
Letter  46
Letter  47
Letter  48
Letter  49
Letter  50
Letter  51
Word  2
Letter  0
Letter  1
Letter  2
Letter  3
Letter  4
Letter  5
Letter  6
Letter  7
Letter  8
Letter  9
Letter  10
Letter  11
Letter  12
Letter  13
Letter  14
Letter  15
Letter  16
Letter  17
Letter  18
Letter  19
Letter  20
Letter  21
Letter  22
Letter  23
Letter  24
Letter  25
Letter  26
Letter  27
Letter  28
Letter  29
Letter  30
Letter  31
Letter  32
Letter  33
Letter  34
Letter  35
Letter  36
Letter  37
Letter  38
Letter  39
Letter  40
Letter  41
Letter  42
Letter  43
Letter  44
Letter  45
Letter  46
Letter  47
Letter  48
Letter  49
Letter  50
Letter  51
Word  3
Letter  0
Letter  1
Letter  2
Letter  3
Letter  4
Letter  5
Letter  6
Letter  7
Letter  8
Letter  9
Letter  10
Letter  11
Letter  12
Letter  13
Letter  14
Letter  15
Letter  16
Letter  17
Letter  18
Letter  19
Letter  20
Letter  21
Letter  22
Letter  23
Letter  24
Letter  25
Letter  26
Letter  27
Letter  28
Letter  29
Letter  30
Letter  31
Letter  32
Letter  33
Letter  34
Letter  35
Letter  36
Letter  37
Letter  38
Letter  39
Letter  40
Letter  41
Letter  42
Letter  43
Letter  44
Letter  45
Letter  46
Letter  47
Letter  48
Letter  49
Letter  50
Letter  51
{0: [1, 1, 1, 1, 0.5, 0, 0, 0.5, 0, 0, 0, 0, 0, 0.5, 0, 0, 0, 0.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], 1: [1, 0, 0, 0, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0.5, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], 2: [0, 0, 0, 0.5, 0, 0, 0, 0.5, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], 3: [0, 0, 0, 0.5, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]}

In [106]:
import numpy as np
import pandas as pd

In [107]:
scores = pd.DataFrame.from_dict(word_dict).mean()

scores

0    0.333333
1    0.130435
2    0.066667
3    0.111111
dtype: float64

In [108]:
sorted_scores = scores.sort_values(ascending=False)

sorted_scores = pd.DataFrame(sorted_scores)

sorted_scores

          0
0  0.333333
1  0.130435
3  0.111111
2  0.066667

In [109]:
word_database = pd.Series(word_database, name = "word_database")

In [110]:
sorted_scores.join(word_database)

          0             word_database
0  0.333333       philadelphia eagles
1  0.130435  penn state nittany lions
3  0.111111       st. louis cardinals
2  0.066667          baltimore ravens